<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.ncbi.NcbiSampleMapper">
    <resultMap id="SampleCountsNcbi" type="SampleCountsNcbi">
        <result column="month" property="month" jdbcType="VARCHAR"/>
        <result column="counts" property="counts" jdbcType="INTEGER"/>
    </resultMap>


    <select id="getSampleCounts" parameterType="java.lang.String" resultMap="SampleCountsNcbi">
        select count(1) as counts,left(s.collection_date,7) as month from sample_brics s
        where s.country=#{countryName} and s.collection_date like "%-%" and LENGTH(s.collection_date)&lt;11
        group by month
    </select>

</mapper>