<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.ExperimentMapper">
    <resultMap id="Experiment" type="Experiment">
        <id column="exp_id" property="expId" jdbcType="INTEGER" />
        <result column="accession" property="accession" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="prj_id" property="prjId" jdbcType="INTEGER" />
        <result column="sample_id" property="sampleId" jdbcType="INTEGER" />
        <result column="cra_id" property="craId" jdbcType="INTEGER" />
        <result column="crp_id" property="crpId" jdbcType="INTEGER" />
        <result column="crs_id" property="crsId" jdbcType="INTEGER" />
        <result column="selection_id" property="selectionId" jdbcType="INTEGER" />
        <result column="platform_id" property="platformId" jdbcType="INTEGER" />
        <result column="strategy_id" property="strategyId" jdbcType="INTEGER" />
        <result column="source_id" property="sourceId" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="lib_name" property="libName" jdbcType="VARCHAR" />
        <result column="lib_layout" property="libLayout" jdbcType="VARCHAR" />
        <result column="lib_nominal_size" property="libNominalSize" jdbcType="INTEGER" />
        <result column="lib_nominal_standard_deviation" property="libNominalStandardDeviation" jdbcType="INTEGER" />
        <result column="lib_insert_size" property="libInsertSize" jdbcType="INTEGER" />
        <result column="planned_read_length" property="plannedReadLength" jdbcType="INTEGER" />
        <result column="planned_read_length_mate_1" property="plannedReadLengthMate1" jdbcType="INTEGER" />
        <result column="planned_read_length_mate_2" property="plannedReadLengthMate2" jdbcType="INTEGER" />
        <result column="planned_number_of_cycles" property="plannedNumberOfCycles" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="is_released" property="isReleased" jdbcType="INTEGER" />
        <result column="release_state" property="releaseState" jdbcType="INTEGER" />
        <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
        <result column="lib_design" property="libDesign" jdbcType="VARCHAR" />
        <result column="share_code" property="shareCode" jdbcType="VARCHAR" />
        <result column="share_id" property="shareId" jdbcType="INTEGER" />
        <result column="project_accession" property="proAcc" jdbcType="VARCHAR" />
        <result column="sample_accession" property="sampleAcc" jdbcType="VARCHAR" />
        <result column="sampleName" property="sampleName" jdbcType="VARCHAR" />
        <result column="cra_accession" property="craAcc" jdbcType="VARCHAR" />
        <result column="crp_accession" property="crpAcc" jdbcType="VARCHAR" />
        <result column="crs_accession" property="crsAcc" jdbcType="VARCHAR" />
        <result column="alias" property="url" jdbcType="VARCHAR" />
        <result column="expUrl" property="expUrl" jdbcType="VARCHAR" />
        <association property="expPlatform" javaType="ExpPlatform">
            <id column="platform_id" property="platformId" jdbcType="INTEGER" />
            <result column="platform_name" property="platformName" jdbcType="VARCHAR" />
        </association>
        <association property="expLibStrategy" javaType="ExpLibStrategy">
            <id column="strategy_id" property="strategyId" jdbcType="INTEGER" />
            <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    <select id="selectExperimentBySampleId" parameterType="int" resultMap="Experiment" useCache="true">
        SELECT c.accession as cra_accession,e.*,ep.platform_name,els.strategy_name
        FROM experiment e,exp_platform ep,exp_lib_strategy els,cra c
        WHERE e.sample_id =#{sampleId} and ep.platform_id=e.platform_id and els.strategy_id=e.strategy_id and c.cra_id=e.cra_id and e.status=3 and e.release_state=2
        ORDER BY e.exp_id DESC
    </select>
    <select id="selectExperimentBySampleIdAndCraId" parameterType="hashMap" resultMap="Experiment" useCache="true">
        SELECT c.accession as cra_accession,e.*,CONCAT('https://bigd.big.ac.cn/gsa/browse/',c.accession,'/',e.accession) as expUrl
        FROM experiment e,cra c
        WHERE e.sample_id =#{sampleId} and c.cra_id=#{craId} and c.cra_id=e.cra_id and e.status=3 and e.release_state=2
        ORDER BY e.exp_id DESC
    </select>

</mapper>