<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.KeyMapper" >
    <resultMap id="Key" type="Key">
        <id column="key_id" property="key_id" jdbcType="INTEGER" />
        <result column="database" property="database" jdbcType="VARCHAR" />
        <result column="key" property="key" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getKey" parameterType="String" resultType="String" useCache="true">
		SELECT c.key FROM check_key c
		WHERE c.database = #{database};
	</select>
</mapper>