<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.ReleaseMapper" >
    <resultMap id="ReleaseWeb" type="ReleaseWeb">
        <id column="rel_id" property="rel_id" jdbcType="INTEGER" />
        <result column="prj_id" property="prj_id" jdbcType="INTEGER" />
        <result column="sample_id" property="sample_id" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="webserver" property="webserver" jdbcType="VARCHAR" />
        <result column="option_date" property="option_date" jdbcType="DATE" />
        <result column="user_id" property="user_id" jdbcType="INTEGER" />
    </resultMap>
    <insert id="insertRelease" parameterType="ReleaseWeb">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="rel_id">
            SELECT LAST_INSERT_ID() AS rel_id
        </selectKey>
        INSERT INTO
        release_web(prj_id,sample_id,status,webserver,option_date,user_id)
        VALUES(#{prj_id},#{sample_id},#{status},#{webserver},#{option_date},#{user_id})
    </insert>
</mapper>