<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.RunMapper" >
    <resultMap id="Run" type="Run" >
        <id column="run_id" property="runId" jdbcType="INTEGER" />
        <result column="accession" property="accession" jdbcType="VARCHAR" />
        <result column="runUrl" property="runUrl" jdbcType="VARCHAR" />
        <!--<result column="user_id" property="userId" jdbcType="INTEGER" />-->
        <!--<result column="prj_id" property="prjId" jdbcType="INTEGER" />-->
        <!--<result column="sample_id" property="sampleId" jdbcType="INTEGER" />-->
        <!--<result column="exp_id" property="expId" jdbcType="INTEGER" />-->
        <!--<result column="cra_id" property="craId" jdbcType="INTEGER" />-->
        <!--<result column="crp_id" property="crpId" jdbcType="INTEGER" />-->
        <!--<result column="crs_id" property="crsId" jdbcType="INTEGER" />-->
        <!--<result column="reference_id" property="referenceId" jdbcType="INTEGER" />-->
        <!--<result column="alias" property="alias" jdbcType="VARCHAR" />-->
        <!--<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="status" property="status" jdbcType="INTEGER" />-->
        <!--<result column="release_state" property="releaseState" jdbcType="INTEGER" />-->
        <!--<result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="run_data_type_id" property="runDataTypeId" jdbcType="INTEGER" />-->
        <!--<association property="runDataType" javaType="RunDataType">-->
            <!--<id column="run_data_type_id" property="runDataTypeId" jdbcType="INTEGER" />-->
            <!--<result column="run_data_type_name" property="runDataTypeName" jdbcType="VARCHAR" />-->
        <!--</association>-->
        <collection property="runDataFiles" ofType="RunDataFile">
            <id column="run_file_id" property="runFileId" jdbcType="INTEGER" />
            <result column="run_id" property="runId" jdbcType="INTEGER" />
            <result column="run_file_name" property="runFileName" jdbcType="VARCHAR" />
            <result column="run_file_size" property="runFileSize" jdbcType="VARCHAR" />
            <result column="md5" property="md5" jdbcType="VARCHAR" />
            <result column="ftp_dir" property="ftpDir" jdbcType="VARCHAR" />
            <result column="archived_file_dir" property="archivedFileDir" jdbcType="VARCHAR" />
            <result column="archived_file_name" property="archivedFileName" jdbcType="VARCHAR" />
            <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
            <result column="file_status" property="status" jdbcType="INTEGER" />
            <result column="file_release_state" property="releaseState" jdbcType="INTEGER" />
            <result column="is_source_file_deleted" property="isSourceFileDeleted" jdbcType="INTEGER" />
        </collection>
    </resultMap>
    <!-- list runs by smaple id -->
    <select id="selectRunByExpId" resultMap="Run" parameterType="int">
        select r.*,rdf.* from run r,run_data_file rdf   where rdf.run_id = r.run_id and r.exp_id = #{expId,jdbcType=INTEGER}
	</select>
    <select id="selectRunUrlByExpId" resultMap="Run" parameterType="int">
        select r.*,CONCAT('https://bigd.big.ac.cn/gsa/browse/',c.accession,'/',r.accession) as runUrl
        from cra c, experiment e,run r
        where c.cra_id = e.cra_id and e.exp_id = r.exp_id and r.exp_id= #{expId,jdbcType=INTEGER} and r.`status`=10 and r.release_state=2
	</select>

</mapper>