<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.SampleAttrMimsmeSoilMapper">
	 <resultMap id="SampleAttrMimsmeSoil" type="SampleAttrMimsmeSoil">
		 <id column="attribute_id" property="attributeId" jdbcType="INTEGER" />
		 <result column="collection_date" property="collectionDate" jdbcType="DATE"/>
		 <result column="geographic_location" property="geographicLocation" jdbcType="VARCHAR"/>
		 <result column="latitude_longitude" property="latitudeLongitude" jdbcType="VARCHAR"/>
		 <result column="environment_biome" property="environmentBiome" jdbcType="VARCHAR" />
		 <result column="environment_feature" property="environmentFeature" jdbcType="VARCHAR" />
		 <result column="environment_material" property="environmentMaterial" jdbcType="VARCHAR" />
		 <result column="depth" property="depth" jdbcType="VARCHAR" />
		 <result column="elevation" property="elevation" jdbcType="VARCHAR" />
		 <result column="agrochemical_additions" property="agrochemicalAdditions" jdbcType="VARCHAR" />
		 <result column="aluminium_saturation" property="aluminiumSaturation" jdbcType="VARCHAR" />
		 <result column="aluminium_saturation_method" property="aluminiumSaturationMethod" jdbcType="VARCHAR" />
		 <result column="altitude" property="altitude" jdbcType="VARCHAR" />
		 <result column="annual_seasonal_precipitation" property="annualSeasonalPrecipitation" jdbcType="VARCHAR" />
		 <result column="annual_seasonal_temperature" property="annualSeasonalTemperature" jdbcType="VARCHAR" />
		 <result column="crop_rotation" property="cropRotation" jdbcType="VARCHAR" />
		 <result column="current_vegetation" property="currentVegetation" jdbcType="VARCHAR" />
		 <result column="current_vegetation_method" property="currentVegetationMethod" jdbcType="VARCHAR" />
		 <result column="drainage_classification" property="drainageClassification" jdbcType="VARCHAR" />
		 <result column="extreme_event" property="extremeEvent" jdbcType="VARCHAR" />
		 <result column="extreme_salinity" property="extremeSalinity" jdbcType="VARCHAR" />
		 <result column="fao_classification" property="faoClassification" jdbcType="VARCHAR" />
		 <result column="fire" property="fire" jdbcType="VARCHAR" />
		 <result column="flooding" property="flooding" jdbcType="VARCHAR" />
		 <result column="heavy_metals" property="heavyMetals" jdbcType="VARCHAR" />
		 <result column="heavy_metals_method" property="heavyMetalsMethod" jdbcType="VARCHAR" />
		 <result column="horizon" property="horizon" jdbcType="VARCHAR" />
		 <result column="horizon_method" property="horizonMethod" jdbcType="VARCHAR" />
		 <result column="links_additional_analysis" property="linksAdditionalAnalysis" jdbcType="VARCHAR" />
		 <result column="link_classification_information" property="linkClassificationInformation" jdbcType="VARCHAR" />
		 <result column="link_climate_information" property="linkClimateInformation" jdbcType="VARCHAR" />
		 <result column="local_classification" property="localClassification" jdbcType="VARCHAR" />
		 <result column="local_classification_method" property="localClassificationMethod" jdbcType="VARCHAR" />
		 <result column="microbial_biomass" property="microbialBiomass" jdbcType="VARCHAR" />
		 <result column="microbial_biomass_method" property="microbialBiomassMethod" jdbcType="VARCHAR" />
		 <result column="miscellaneous_parameter" property="miscellaneousParameter" jdbcType="VARCHAR" />
		 <result column="ph" property="ph" jdbcType="VARCHAR" />
		 <result column="ph_method" property="phMethod" jdbcType="VARCHAR" />
		 <result column="pooling_dna_extracts" property="poolingDnaExtracts" jdbcType="VARCHAR" />
		 <result column="previous_land_use" property="previousLandUse" jdbcType="VARCHAR" />
		 <result column="previous_land_use_method" property="previousLandUseMethod" jdbcType="VARCHAR" />
		 <result column="profile_position" property="profilePosition" jdbcType="VARCHAR" />
		 <result column="salinity_method" property="salinityMethod" jdbcType="VARCHAR" />
		 <result column="sieving" property="sieving" jdbcType="VARCHAR" />
		 <result column="slope_aspect" property="slopeAspect" jdbcType="VARCHAR" />
		 <result column="soil_type" property="soilType" jdbcType="VARCHAR" />
		 <result column="soil_type_method" property="soilTypeMethod" jdbcType="VARCHAR" />
		 <result column="storage_conditions" property="storageConditions" jdbcType="VARCHAR" />
		 <result column="texture" property="texture" jdbcType="VARCHAR" />
		 <result column="texture_method" property="textureMethod" jdbcType="VARCHAR" />
		 <result column="total_n_method" property="totalNMethod" jdbcType="VARCHAR" />
		 <result column="total_nitrogen" property="totalNitrogen" jdbcType="VARCHAR" />
		 <result column="total_organic_carbon_method" property="totalOrganicCarbonMethod" jdbcType="VARCHAR" />
		 <result column="total_organic_carbon" property="totalOrganicCarbon" jdbcType="VARCHAR" />
		 <result column="water_content_soil" property="waterContentSoil" jdbcType="VARCHAR" />
		 <result column="water_content_soil_method" property="waterContentSoilMethod" jdbcType="VARCHAR" />
		 <result column="reference_biomaterial" property="referenceBiomaterial" jdbcType="VARCHAR" />
		 <result column="sample_collection_device" property="sampleCollectionDevice" jdbcType="VARCHAR" />
		 <result column="sample_material_processing" property="sampleMaterialProcessing" jdbcType="VARCHAR" />
		 <result column="sample_size" property="sampleSize" jdbcType="VARCHAR" />
		 <result column="sample_volume_weight_dna_extraction" property="sampleVolumeWeightDnaExtraction" jdbcType="VARCHAR" />
		 <result column="source_material_identifiers" property="sourceMaterialIdentifiers" jdbcType="VARCHAR" />
		 <result column="isolation_source" property="isolationSource" jdbcType="VARCHAR"/>
		 <result column="description" property="description" jdbcType="VARCHAR" />
	 </resultMap>

	<select id="findBySampleId" parameterType="int" resultMap="SampleAttrMimsmeSoil">
		SELECT  * FROM sample_attr_mimsme_soil	 WHERE sample_id=#{ sampleId }
	</select>
</mapper>