<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.SampleAttrPathogenClinicalHostMapper">
	 <resultMap id="SampleAttrPathogenClinicalHost" type="SampleAttrPathogenClinicalHost"> 
		 <id column="attribute_id" property="attributeId" jdbcType="INTEGER" />
		 <result column="isolate" property="isolate" jdbcType="VARCHAR" />
		 <result column="strain" property="strain" jdbcType="VARCHAR" />
		 <result column="collected_by" property="collectedBy" jdbcType="VARCHAR" />
		 <result column="collection_date" property="collectionDate" jdbcType="DATE" />
		 <result column="geographic_location" property="geographicLocation" jdbcType="VARCHAR"/>
		 <result column="host_disease" property="hostDisease" jdbcType="VARCHAR"/>
		 <result column="isolation_source" property="isolationSource" jdbcType="VARCHAR"/>
		 <result column="latitude_longitude" property="latitudeLongitude" jdbcType="VARCHAR"/>
		 <result column="culture_collection" property="cultureCollection" jdbcType="VARCHAR"/>
		 <result column="genotype" property="genotype" jdbcType="VARCHAR" />
		 <result column="host_age" property="hostAge" jdbcType="VARCHAR" />
		 <result column="host_age_unit" property="hostAgeUnit" jdbcType="VARCHAR" />
		 <result column="host_sex" property="hostSex" jdbcType="INTEGER" />
		 <result column="host_description" property="hostDescription" jdbcType="VARCHAR" />
		 <result column="host_disease_outcome" property="hostDiseaseOutcome" jdbcType="VARCHAR" />
		 <result column="host_disease_stage" property="hostDiseaseStage" jdbcType="VARCHAR" />
		 <result column="host_health_state" property="hostHealthState" jdbcType="VARCHAR" />
		 <result column="host_subject_id" property="hostSubjectId" jdbcType="VARCHAR" />
		 <result column="host_tissue_sampled" property="hostTissueSampled" jdbcType="VARCHAR" />
		 <result column="passage_history" property="passageHistory" jdbcType="VARCHAR" />
		 <result column="pathotype" property="pathotype" jdbcType="VARCHAR" />
		 <result column="serotype" property="serotype" jdbcType="VARCHAR" />
		 <result column="serovar" property="serovar" jdbcType="VARCHAR"/>
		 <result column="specimen_voucher" property="specimenVoucher" jdbcType="VARCHAR"/>
		 <result column="subgroup" property="subgroup" jdbcType="VARCHAR" />
		 <result column="subtype" property="subtype" jdbcType="VARCHAR" />
		 <result column="add_attribute" property="addAttribute" jdbcType="VARCHAR" />
		 <result column="host_organism_id" property="hostTaxonId" jdbcType="INTEGER" />
		 <result column="host_taxon_name" property="hostTaxonName" jdbcType="INTEGER" />
	 </resultMap>
	 <select id="findBySampleId" parameterType="int" resultMap="SampleAttrPathogenClinicalHost">
		SELECT  sa.*,tx.name_txt as host_taxon_name FROM sample_attr_pathogen_clinical_host_associated  sa
        LEFT JOIN taxon_name tx ON tx.tax_id = sa.host_organism_id AND tx.name_class = 'scientific name'
		WHERE sample_id=#{ sampleId }
	</select>


	<insert id="saveSampleAttrPathogenClinicalHostByHuman" parameterType="SampleAttrPathogenClinicalHostSynchronization" >
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="attributeId">
			SELECT LAST_INSERT_ID() as attributeId
		</selectKey>
		INSERT INTO
		sample_attr_pathogen_clinical_host_associated(taxon_id,sample_id,isolate,strain,collected_by,collection_date,geographic_location,host_organism_id,host_disease,
		isolation_source,latitude_longitude,culture_collection,genotype,host_age,host_age_unit,host_description,host_disease_outcome,host_disease_stage,host_health_state,host_sex
		,host_subject_id,host_tissue_sampled,passage_history,pathotype,serotype,serovar,specimen_voucher,subgroup,subtype)
		VALUES(
		#{taxonId,jdbcType=INTEGER},
		#{sampleId,jdbcType=INTEGER},
		#{isolate,jdbcType=VARCHAR},
		#{strain,jdbcType=VARCHAR},
		#{collectedBy,jdbcType=VARCHAR},
		#{collectionDate,jdbcType=TIMESTAMP},
		#{geographicLocation,jdbcType=VARCHAR},
		#{hostTaxonId,jdbcType=INTEGER},
		#{hostDisease,jdbcType=VARCHAR},
		#{isolationSource,jdbcType=VARCHAR},
		#{latitudeLongitude,jdbcType=VARCHAR},
		#{cultureCollection,jdbcType=VARCHAR},
		#{genotype,jdbcType=VARCHAR},
		#{hostAge,jdbcType=VARCHAR},
		#{hostAgeUnit,jdbcType=VARCHAR},
		#{hostDescription,jdbcType=VARCHAR},
		#{hostDiseaseOutcome,jdbcType=VARCHAR},
		#{hostDiseaseStage,jdbcType=VARCHAR},
		#{hostHealthState,jdbcType=VARCHAR},
		#{hostSex,jdbcType=INTEGER},
		#{hostSubjectId,jdbcType=VARCHAR},
		#{hostTissueSampled,jdbcType=VARCHAR},
		#{passageHistory,jdbcType=VARCHAR},
		#{pathotype,jdbcType=VARCHAR},
		#{serotype,jdbcType=VARCHAR},
		#{serovar,jdbcType=VARCHAR},
		#{specimenVoucher,jdbcType=VARCHAR},
		#{subgroup,jdbcType=VARCHAR},
		#{subtype,jdbcType=VARCHAR}
		)
	</insert>
</mapper>
  