<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.SampleAttrMetagenomeEnvironmentalMapper">
	 <resultMap id="SampleAttrMetagenomeEnvironmental" type="SampleAttrMetagenomeEnvironmental">
		 <id column="attribute_id" property="attributeId" jdbcType="INTEGER" />
		 <result column="isolation_source" property="isolationSource" jdbcType="VARCHAR"/>
		 <result column="collection_date" property="collectionDate" jdbcType="DATE"/>
		 <result column="geographic_location" property="geographicLocation" jdbcType="VARCHAR"/>
		 <result column="latitude_longitude" property="latitudeLongitude" jdbcType="VARCHAR"/>
		 <result column="reference_biomaterial" property="referenceBiomaterial" jdbcType="VARCHAR" />
		 <result column="sample_collection_device" property="sampleCollectionDevice" jdbcType="VARCHAR" />
		 <result column="sample_material_processing" property="sampleMaterialProcessing" jdbcType="VARCHAR" />
		 <result column="sample_size" property="sampleSize" jdbcType="VARCHAR" />
		 <result column="source_material_identifiers" property="sourceMaterialIdentifiers" jdbcType="VARCHAR" />
		 <result column="description" property="description" jdbcType="VARCHAR" />
		 <collection property="hostTaxon" ofType="Taxon">
			 <id column="tax_id" property="taxonId" jdbcType="INTEGER"/>
			 <result column="name_txt" property="name" jdbcType="VARCHAR"/>
			 <result column="ranks" property="ranks" jdbcType="VARCHAR"/>
			 <result column="genbank_common_name" property="genBankCommonName" jdbcType="VARCHAR"/>
		 </collection>
	 </resultMap>

	<select id="findBySampleId" parameterType="int" resultMap="SampleAttrMetagenomeEnvironmental">
		SELECT  sa.*,tx.* FROM sample s ,sample_attr_metagenome_environmental	 sa
		LEFT JOIN taxon_name tx ON tx.tax_id = sa.host_organism_id AND tx.name_class = 'scientific name'
		WHERE s.sample_id=#{ sampleId } and s.sample_id=sa.sample_id
	</select>

	<insert id="saveSampleAttrMetagenomeEnvironmentalByHuman" parameterType="SampleAttrMetagenomeEnvironmentalSynchronization" >
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="attributeId">
			SELECT LAST_INSERT_ID() as attributeId
		</selectKey>
		INSERT INTO
		sample_attr_metagenome_environmental(taxon_id,sample_id,host_organism_id,isolation_source,collection_date,geographic_location,latitude_longitude)
		VALUES(
		#{taxonId,jdbcType=INTEGER},
		#{sampleId,jdbcType=INTEGER},
		#{hostOrganismId,jdbcType=INTEGER},
		#{isolationSource,jdbcType=VARCHAR},
		#{collectionDate,jdbcType=TIMESTAMP},
		#{geographicLocation,jdbcType=VARCHAR},
		#{latitudeLongitude,jdbcType=VARCHAR}
		)
	</insert>
</mapper>