<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.SampleAttrPlantMapper">
 <resultMap type="SampleAttrPlant" id="SampleAttrPlant">
		<id column="attribute_id" property="attributeId" jdbcType="INTEGER" />
		<result column="cultivar" property="cultivar" jdbcType="VARCHAR"/>
		<result column="biomaterial_provider" property="biomaterialProvider" jdbcType="VARCHAR"/>
		<result column="tissue" property="tissue" jdbcType="VARCHAR"/>
		<result column="age" property="age" jdbcType="VARCHAR"/>
		<result column="age_unit" property="ageUnit" jdbcType="VARCHAR" />
	    <result column="sex" property="sex" jdbcType="INTEGER" />		
		<result column="cell_line" property="cellLine" jdbcType="VARCHAR"/>
		<result column="cell_type" property="cellType" jdbcType="VARCHAR"/>
		<result column="collected_by" property="collectedBy" jdbcType="VARCHAR" /> 
		<result column="collection_date" property="collectionDate" jdbcType="DATE" /> 
		<result column="culture_collection" property="cultureCollection" jdbcType="VARCHAR"/> 
		<result column="dev_stage" property="devStage" jdbcType="VARCHAR"/>
		<result column="disease" property="disease" jdbcType="VARCHAR"/>
		<result column="disease_stage" property="diseaseStage" jdbcType="VARCHAR"/>
		<result column="genotype" property="genotype" jdbcType="VARCHAR" /> 
		<result column="growth_protocol" property="growthProtocol" jdbcType="VARCHAR"/>
		<result column="height_length" property="heightLength" jdbcType="VARCHAR"/>
		<result column="isolation_source" property="isolationSource" jdbcType="VARCHAR"/>
		<result column="latitude_longitude" property="latitudeLongitude" jdbcType="VARCHAR"/>
	    <result column="phenotype" property="phenotype" jdbcType="VARCHAR"/>
	    <result column="population" property="population" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="specimen_voucher" property="specimenVoucher" jdbcType="VARCHAR"/> 
		<result column="temperature" property="temperature" jdbcType="VARCHAR"/>
		<result column="treatment" property="treatment" jdbcType="VARCHAR"/>
		<result column="add_attribute" property="addAttribute" jdbcType="VARCHAR" />
	</resultMap>
	 
	<select id="findBySampleId" parameterType="int" resultMap="SampleAttrPlant">
		SELECT *	FROM sample_attr_plant  WHERE sample_id=#{ sampleId }
	</select>
</mapper>