<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="cn.ac.big.bigd.webservice.mapper.gsa.SampleAttrHumanMapper">
	<resultMap type="SampleAttrHuman" id="SampleAttrHuman">
		<id column="attribute_id" property="attributeId" jdbcType="INTEGER" />
		<result column="isolate" property="isolate" jdbcType="VARCHAR"/>
		<result column="age" property="age" jdbcType="VARCHAR"/>
		<result column="age_unit" property="ageUnit" jdbcType="VARCHAR" />
		<result column="biomaterial_provider" property="biomaterialProvider" jdbcType="VARCHAR"/>	
		<result column="tissue" property="tissue" jdbcType="VARCHAR"/>
		<result column="cell_line" property="cellLine" jdbcType="VARCHAR"/>
		<result column="cell_subtype" property="cellSubtype" jdbcType="VARCHAR"/>
		<result column="cell_type" property="cellType" jdbcType="VARCHAR"/>
		<result column="culture_collection" property="cultureCollection" jdbcType="VARCHAR"/>
		<result column="dev_stage" property="devStage" jdbcType="VARCHAR"/>
		<result column="disease" property="disease" jdbcType="VARCHAR"/>
		<result column="disease_stage" property="diseaseStage" jdbcType="VARCHAR"/>
		<result column="ethnicity" property="ethnicity" jdbcType="VARCHAR"/>
		<result column="health_state" property="healthState" jdbcType="VARCHAR"/>
		<result column="karyotype" property="karyotype" jdbcType="VARCHAR"/>
		<result column="phenotype" property="phenotype" jdbcType="VARCHAR"/>
		<result column="population" property="population" jdbcType="VARCHAR"/>
		<result column="race" property="race" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="treatment" property="treatment" jdbcType="VARCHAR"/>
		<result column="add_attribute" property="addAttribute" jdbcType="VARCHAR"/>	
		<result column="sex" property="sex" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="findBySampleId" parameterType="int" resultMap="SampleAttrHuman">
		SELECT *	FROM sample_attr_human
		 WHERE sample_id=#{ sampleId }
	</select>


	<insert id="saveSampleAttrHumanByHuman" parameterType="SampleAttrHumanSynchronization" >
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="attributeId">
			SELECT LAST_INSERT_ID() as attributeId
		</selectKey>
		INSERT INTO
		sample_attr_human(taxon_id,sample_id,isolate,age,age_unit,biomaterial_provider,sex,tissue,culture_collection,disease,disease_stage,ethnicity,
		karyotype,phenotype,population,race,treatment)
		VALUES(
		#{taxonId,jdbcType=INTEGER},
		#{sampleId,jdbcType=INTEGER},
		#{isolate,jdbcType=VARCHAR},
		#{age,jdbcType=VARCHAR},
		#{ageUnit,jdbcType=VARCHAR},
		#{biomaterialProvider,jdbcType=VARCHAR},
		#{sex,jdbcType=INTEGER},
		#{tissue,jdbcType=VARCHAR},
		#{cultureCollection,jdbcType=VARCHAR},
		#{disease,jdbcType=VARCHAR},
		#{diseaseStage,jdbcType=VARCHAR},
		#{ethnicity,jdbcType=VARCHAR},
		#{karyotype,jdbcType=VARCHAR},
		#{phenotype,jdbcType=VARCHAR},
		#{population,jdbcType=VARCHAR},
		#{race,jdbcType=VARCHAR},
		#{treatment,jdbcType=VARCHAR}
		)
	</insert>

</mapper>